.white-link{
    color: white;
}

.white-link:hover{
    color:white;
}

.post-box{
    width:100%;
    border: 1px solid black;
}

#subject {
    width:100%;
    border:none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    resize: none;
  }

.error {
    color: red
}

.userForm{
    background-color: white;
    display: none;
    position: fixed;
    bottom: 40%;
    right: 40%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    padding: 20px;
}