{% extends "layout.html" %}
{% block main %}
    <p>Create post</p>
    <form action="create_post" method="POST" id="postform">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="title" type="text" >
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" id="category" name="category">
                <option selected disabled>Select Category</option>
                {% for cat in cats %}
                <option value="{{ cat[0] }}">{{cat[0]}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="mb-3">
            <textarea class="form-control mx-auto w-auto" id="subject" name="subject" form="postform" rows="4" cols="50" maxlength="140" placeholder="What are you working at?"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Create post</button>
    </form>
    
{% endblock %}