{% extends "layout.html" %}
{% block main %}   
<button type="button" class="btn btn-primary"><a class="white-link" href="/create_post">Find partner</a></button>

    <div class="container">
        {% for post in posts %}

        <div class="row pt-5 align-items-start border">
            <div class="col-12">
                <h4><a href="{{ url_for('post', id=post[0])}}"> {{post[1]}}</a></h4>
            </div>
            <div class="col text-left">
                <p>{{post[2]}}</p>
            </div>
            <div class="col-12 text-right">
                <p>
                    <button type="button" class="btn btn-primary btn-sm"><a class="white-link" href="{{ url_for('post', id=post[0])}}">Add Reply</a></button>
                    posted on: {{post[3]}} by: {{post[4]}} category: {{post[5]}}
                </p>
            </div>
        </div>
            

        {% endfor %}
        page: {{page}} / {{total_pages}}
    </div>

{% endblock %}