{% extends "layout.html" %}
{% block main %}   

    <div class="container">
        <button type="button" class="btn btn-primary float-right"><a class="white-link" href="/create_post">Find partner</a></button>
        {% for post in posts %}

        <div class="row align-items-start">
            <div class="col-12">
                <h4>{{post[0]}}</h4>
            </div>
            
            <div class="col-12">
                <h6>category: {{post[4]}}</h6>
            </div>
            
        </div>
        <div class="row align-items-start border-bottom border-top">
            <div class="col text-left">
                <p>{{post[1]}}</p>
            </div>
            <div class="col-12 text-right">
                <h6>posted on: {{post[2]}} by: {{post[3]}}</h6>
            </div>
        </div>
        page: {{page}} / {{total_pages}}
        {% endfor %}

    </div>

{% endblock %}