{% extends "layout.html" %}
{% block main %}
    <h2>{{post[0][0]}}</h2>
    <h4>posted on: {{post[0][2]}} by: {{post[0][3]}} category: {{post[0][4]}}</h4>
    <p>{{ post[0][1] }}</p>
    <h2>Replies</h2>
    {% for reply in replies %}
    <div class="row py-2 align-items-start">
        {{ reply[0] }}
        <br>
        posted by: {{ reply[2] }} on: {{reply[1]}}
    </div>

    {% endfor %}
    <form action="/post/{{id}}" method="POST" id="replyform">
        <div class="mb-3">
            <textarea class="form-control mx-auto" id="reply" name="reply" form="replyform" rows="4" cols="50" maxlength="140" placeholder="What are you working at?"></textarea>
        </div>
    
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
{% endblock %}