{% extends "layout.html" %}
{% block main %}
<div class="text-center">
    <p>Fill this form to create account</p>
    <form action="/register" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" pattern="^[a-zA-Z0-9_-]{3,20}$">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" pattern="^.{6,}$">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat Password" type="password" pattern="^.{6,}$">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>

{% endblock %}